.header {
  margin-top: 45px;
  margin-left: 200px;
  margin-right: 200px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  max-width: 880px;
}

.header_image {
  margin-bottom: 41px;
}

.header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 27px;
  }
