.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  margin: 0 ;
}

.page__content {
  margin-left: 200px;
  margin-right: 200px;
  align-items: center;
}

.header {
  margin-top: 45px;
  max-width: 880px;
}
